footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.footer-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 1.5rem;

    a:focus, a:hover {
        color: var(--color-primary);
    }
}

@media screen and (min-width: 768px) {
    .footer-wrapper {
        flex-direction: row;
    }
}
