.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
}

.navbar-logo {
    margin-left: 1rem;
    color: black; 
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-right {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.wallet-label {
    margin-right: 1rem;
    font-weight: bold;
}

.user-container {
    border: 2px solid white;
    border-radius: 30px;
    padding: .5em 1em;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    height: 44px;

    &:hover, &:focus {
        background-color: var(--color-primary);
        color: white;
    }
}

.button.button-signin {
    line-height: 1;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 30px;
    padding: .5em 1em;
    height:44px;
}

@media screen and (min-width: 360px) {
    .navbar {
        flex-direction: row;
        margin-right: 1rem;
    }
}

@media screen and (min-width: 640px) {
    .navbar {
        margin-right: 2rem;
    }
}
